<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>The Mars Volta</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="static/styles.css">
</head>

<body>
  <div class="container-fluid">
    <div class="jumbotron text-center">
      <h1>Mission to Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <h2>Max Temp: {{ mars.title }}</h2>
                <p>Min Temp: {{ mars.news }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col col-lg-8">
                <h2>Featured Mars Image</h2>
                <p><img src="{{ mars.featured_image_url }}" alt="featured_imaged"></p>
            </div>
            <div class="col col-lg-4">
                <h3>Mars Facts</h3>
                <table class="table table-sm table-striped table-bordered">
                    {%for facts in mars.mars_facts%}
                        <tr>
                            {%for fact in facts%}
                                <td>
                                    {{fact}}
                                </td>
                            {%endfor%}
                        </tr>
                    {%endfor%}
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <h2>Mars Hemispheres</h2>
            </div>
        </div>
        <div class="row">
            {%for hemphs in mars.hemisphere_images_urls%}
                    <div class="col col-lg-3">
                        <div class="card" style="border: solid; border-color: darkgray;">
                            <img src="{{hemphs.get("img_url")}}" class="card-img-top center imgpad" alt="..." style="width: 32rem;">
                            <div class="card-body pad">
                                <h3 class="card-text text-left">{{hemphs.get("title")}}</h3>
                            </div>
                        </div>
                    </div>
            {%endfor%}
        </div>
    </div>
  </div>
  </div>
</body>
</html>